@media only screen and (max-width: 800px) {
  .halfbloc {
    width: 96%;
    margin: 0 2% 2% 2%;
  }

  .megabloc {
    width: 96%;
    margin: 0 2% 2% 2%;
  }
  
  h1 {
    font-size:;
  }

  header li span, header li#github,
  nav li#twobytwolist, nav li#threebythreelist {
    display: none;
  }
  
  header div {
    width: 80%;
  }
  
  nav ul li {
    margin: 0 6px 0 6px;
    padding: 1px;
  }
  
  nav li#aboutlist svg, nav li#instagramlist svg {
    display: inline-block;
    fill: #333;
    height: 1em;
  }

  h2.marker {
    font-size: 0.8em;
  }


  #bio, #socialmedia, #colophon {
    width: 96%;
    float: none;
    display: block;
    margin: 0 2% 2% 2%;
    padding: 6%;
    box-sizing: border-box;
  }
  
  #bio .col {
    width: 85%;
    margin: 40px auto;
    display: block;
  }
  
  #illus img {
    margin: 30px 0;
  }
  
  #aboutgrid h1, #aboutgrid h2 {
    font-size: 2em;
  }

  /* Day 22
  ------------------------------*/

  #day22 p {
    font-size: 0.7em;
    white-space: normal;
  }

  #day22 p#typetext {
    animation: none;
  }

  #day22 br {
    display: none;
  }
  
} 