@media only screen and (max-width: 800px) {
  .halfbloc {
    display: block;
    float: none;
    width: 100%;
    padding: 0;
  }

  .verticalbloc {
    display: block;
    float: none;
    width: 100%;
  }

  .megabloc {
    display: block;
    float: none;
  }
  
  
/* Header
----------------------------*/  
  header li span, header li#blog {
    display: none;
  }
  
  header div {
    width: 80%;
  }
  
  nav ul li {
    margin: 5px;
  }
  
  header li svg {
    display: inline-block;
    height: 1em;
    fill: #333;
  }
  
  
/* About
----------------------------*/
  div#bio, .div#socialmedia, div#colophon {
    display: block;
    float: none;
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 0.8em;
  }
  
  #bio .col {
    width: 76%;
    margin: 40px 12% 40px 12%;
  }
  
  div#illus {
    display: none;
  }
  
  #aboutgrid h1, #aboutgrid h2 {
    font-size: 2em;
  }
  
  div#socialmedia, div#colophon {
    height: auto;
    font-size: 0.8em;
    padding: 35px 12% 25px 12%;
  }
}