/* Still needs re-working for non-float version*/

@media only screen and (max-width: 800px) {
  .halfbloc {
    width: 96%;
    margin: 0 2% 2% 2%;
  }

  .megabloc {
    width: 96%;
    margin: 0 2% 2% 2%;
  }
  
   
  header li span, header li#blog {
    display: none;
  }
  
  header div {
    width: 80%;
  }
  
  nav ul li {
    margin: 5px;
  }
  
  header li svg {
    display: inline-block;
    height: 1em;
    fill: #333;
  }
  

  #aboutgrid .halfbloc, #aboutgrid #biobloc {
    width: 96%;
    float: none;
    display: block;
    margin: 0 2% 2% 2%;
  }
  
  #bio .col {
    width: 76%;
    margin: 40px 12% 40px 12%;
  }
  
  div#illus {
    display: none;
  }
  
  #aboutgrid h1, #aboutgrid h2 {
    font-size: 2em;
  }
  
} 