/* Fonts
---------------------------*/

@font-face {
   font-family: 'Hack';
      src: url('../fonts/Hack/eot/hack-regular-webfont.eot');
      src: url('../fonts/Hack/eot/hack-regular-webfont.eot') format('embedded-opentype'),
           url('../fonts/Hack/woff/hack-regular-webfont.woff') format('woff'),
           url('../fonts/Hack/ttf/hack-regular-webfont.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}


/* Normalizing
---------------------------*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}


/* Grid Styles
---------------------------*/

body {
  background-color: #fff;
}

h1, h2 {
  color: #ffffff;
}

h2.marker {
  font-family: 'Hack';
  font-size: 1em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin: 1em 0 0 1em;
  padding: 2px;
  border: solid 1px #ffffff;
  border-radius: 50%;
  font-weight: normal;
  text-align: center;
}

#grid {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 0.5%;
}

.halfbloc, .burgerbloc, .vertbloc, 
.hotdogbloc, .megabloc {
  box-sizing: border-box;
  display: inline-block;
}

.halfbloc {
  width: 32%;
  margin: 0 0.5% 1% 0.5%;
}

.vertbloc {
  width: 32%;
  margin: 0;
}

div.squareratio {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background: #172343;
}

div.vertratio {
  width: 100%;
  padding-bottom: 200%;
  position: relative;
  background: #12deef;
}

div.squareratio > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  color: #B8B8B8;
  box-sizing: border-box;
}

/*.verticalbloc {
  height: 800px;
  width: 33.3333%;
  margin: 0;
}

.hotdogbloc {
  width: 100%;
  height: 400px;
  margin: 0;
}

.burgerbloc {
  width: 66.6666%;
  height: 800px;
  margin: 0;
}

.megabloc {
  width: 100%;
  height: 800px;
  background-color: #333;
  margin: 0;
}

.row {
  float: left;
  width: 100%;
  margin: 0;
  text-align: center;
}*/

div#grid:nth-child(1n) {
  margin-top: 50px;
}

a {
  text-decoration: none;
}

.centerfix1 {
  margin-left: -2em;
}

.centerfix2 {
  margin-left: -3em;
}



/* Header
---------------------------*/

header {
  background-color: #F7FCF9;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.2);
}

header div {
  box-sizing: border-box;
  width: 95%;
  margin: 15px auto;
}

header h1 {
  float: left;
  margin: 0;
}

header h1, header h1 a, nav ul li, nav ul li a {
  font: 1em 'Hack', Courier, Helvetica, Arial, sans-serif;
  color: #2c2c2c;
  text-transform: lowercase;
}

nav ul {
  float: right;
  margin: 0;
  list-style: none;
  padding: 0;
}

header h1, nav, nav ul {
  display: inline;
}

nav ul li {
  display: inline;
  text-decoration: none;
  margin: 15px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav li svg {
  display: none;
}

/* About
---------------------------*/
div#aboutgrid {
  text-align: left;
}

div#bio {
  background-color: #ffffff;
  padding: 60px 0 0 70px;
}

div#socialmedia {
  background-color: #f4f42c;
  padding: 60px 60px 0 50px;
}

div#colophon {
  background-color: #29f2e3;
  padding: 60px 60px 0 50px;
}

div#aboutgrid p, div#aboutgrid ul {
  font-family: 'Museo-Slab', Courier, Georgia, serif;
  font-size: 1em;
  color: #333;
  line-height: 1.5em;
}

div.col {
  width: 38%;
  display: inline-block;
  margin: 0 70px 0 0;
  vertical-align: top;
}

div#aboutgrid h1, div#aboutgrid h2 {
  font-family: 'Brandon-Grotesque', Helvetica, sans-serif;
  color: #333;
  text-transform: lowercase;
  margin: 0 0 37px 0;
  font-size: 3em;
  line-height: 1em;
}

div#aboutgrid h2 {
  border-bottom: #333 solid 6px;
  display: inline-block;
  margin: 0 0 30px 0;
}

#bio a {
  /*background-color: rgba(18, 222, 239, 0.5);*/
  background-color: #f4f42c;
}

#bio a:hover {
  background-color: #ffffff;
}

#bio #inspiration {
  margin-top: 20px;
}

#bio #inspiration ul li {
  margin: 5px 0 5px 0;
}

#socialmedia p a, #colophon p a {
  background-color: #29f2e3;
  display: inline-block;
}

#socialmedia p a:hover, #colophon p a:hover {
  border-bottom: #12deef solid 2px;
}

#socialmedia ul {
  list-style: none;
  display: inline-block;
  margin-top: 20px;
  padding: 0;
}

#socialmedia ul li {
  display: inline;
  margin: 10px;
}

#socialmedia ul li svg {
  width: 30px;
  fill: #333;
}

#socialmedia ul li svg:hover {
  fill: #29f2e3;
}

#socialmedia ul li#farleft {
  margin-left: 0;
}



/* Day 1
----------------------------*/

div#day1 {
  background-color: #172343;
  /*background-image: linear-gradient(#172343, #446380, #FAF471);
  background-size: cover; */
  text-align: center;
}
div#day1 img {
  height: 90%;
  margin-top: 3%;
}

/* Day 2
----------------------------*/

div#day2, div#day3 {
  background-color: #12deef;
  color: #333;
  padding: 10%;
}
